.jumbotron {
    padding-top: 6rem;
    padding-bottom: 100%;
    background-color: #e2edff;
}
section {
    padding-top: 4rem;
}
#myprojects {
    background-color: #e2edff;
}
#aboutme {
    background-color: #ffffff;
}
